<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    

    <div class="container">


      {% include header.html %}

      <div class="row">

        <div class="col-xs-12 col-sm-8">

          {{ content }}

        </div>

        <div class="col-xs-12 col-sm-4 right-nav">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="font-variant:small-caps;font-size: 18px;">topics</div>
                <ol class="list-group">
                    <li>
                      <a href="basics.html">Basics</a>
                        <ul>
                          <li><a href="basics.html#de">Create a Developer Edition</a></li>
                          <li><a href="basics.html#enable">Enable Lightning Components</a></li>
                          <li><a href="basics.html#namespace">Create a Namespace</a></li>
                          <li><a href="basics.html#auradocs">Find docs and AuraDocs</a></li>
                        </ul>
                    </li>
                    <li>
                      <a href="hello-salesforce1.html">Hello Salesforce1</a>
                        <ul>
                          <li><a href="hello-salesforce1.html#first">Create Your First Lightning Application</a></li>
                          <li><a href="hello-salesforce1.html#component">Create Your First Lightning Component</a></li> 
                          <li><a href="hello-salesforce1.html#refactor">Refactor Your Component</a></li>
                          <li><a href="hello-salesforce1.html#tab">Create a Lightning Component Tab</a></li>
                          <li><a href="hello-salesforce1.html#salesforce1">Deploy to Your Salesforce1 Mobile App</a></li>
                        </ul>
                    </li>

                    <li>
                      <a href="attributes.html">Attributes</a>
                        <ul>
                          <li>Create an Attribute</li>
                          <li>Attributes in Action</li>
                          <li>AuraDocs</li> 
                        </ul>                      
                    </li>
                    <li>
                      <a href="javascript-basics.html">Javascript Basics</a>
                        <ul>
                          <li>Javascript Controllers</li>
                          <li>Handling User Gestures</li>
                        </ul>                      
                    </li>
                    <li>
                      <a href="apex-integration.html">Apex Integration</a>
                        <ul>
                          <li>Javascript Controllers</li>
                          <li>Handling User Gestures</li>
                        </ul>                      
                    </li>
                    <li>
                      <a href="custom-events.html">Custom Events</a>
                        <ul>
                          <li>Javascript Controllers</li>
                          <li>Handling User Gestures</li>
                        </ul>                      
                    </li>

                </ol>
            </div>

{% include footer.html %}
        </div>    

      
    </div>

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="css/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
